body{
  background-color: #D3D3D3;
  font-family: helvetica;
}

.container{
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
}

.title-container{
  font-size: 80px;
  color: white;
  text-align: center;
}

#status{
  border-bottom: 5px solid;
}

.online{
  background-color: green;
}

.offline{
  background-color: red;
}

.list{
  margin: 0 auto;
  text-align: center;
}

.items{
  list-style: none;
  /*text-align: left;*/
  border-radius: 5px;
  background: white;
  margin: 5px;
  display: inline-block;
  float: left;
  max-height: 400px;
  min-height: 400px;
  overflow: hidden;
}

p{
  width: 240px;
  text-align: left;
  padding: 5px;
}
