.container{
  text-align: center;
  margin: 0 auto;
}

.title-container{
}

#status{
  
}

.online{
  color: green;
}

.offline{
  color: red;
}

#container-list{

}

.items{
  list-style: none;
  min-height: 100px;
  text-align: left;
  border: 1px solid white;
  border-radius: 5px;
  background: #4169E1;
  margin: 5px;
  color: white;
}